* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.TodoApp {
    background-color: #F5F5F5;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
}

.TodoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    margin: 0 20px;
    width: calc(100% - 40px);
}

@media (min-width: 568px) {
    .TodoContainer {
        flex-direction: row;
        margin: 0;
        max-width: 600px;
    }
}