.taskList {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
    width: 100%;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 568px) {
    .taskList {
        width: calc(100% - 235px);
    }
}