.taskList {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    width: 400px;
}
.taskItem {
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    margin-bottom: 10px;
}