.listItem {
    width: 100%;
    margin-bottom: 15px;
}
.listContent {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5rem;
    background-color: lightblue;
    outline: none;
    border: none;
    cursor: pointer;
}
.listContent:hover {
    background-color: red;
    color: white;
}